# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
Package.resolved

# XcodeGen generated
JOONPlayer/Supporting/Info.plist
